[submodule "output"]
	path = output
	url = https://github.com/arecarn/arecarn.github.io
	branch = master
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
	branch = master
