[submodule "output"]
	path = output
	url = https://github.com/arecar/arecarn.github.io
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
	branch = master
